<div class="sidebar">
    <div class="logo-details">
        <img class='icon' src="/assets/images/qualitasname.png" alt="" width="130px">
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav_list">
        <li>
            <a href="/index.html">
              <i class='bx bx-grid-alt'></i>
              <span class="links_name">Pagina Principal</span>
            </a>
             <span class="tooltip_menu">Pagina Principal</span>
          </li>
      <li>
        <a href="#">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Nueva Cotizacion</span>
        </a>
         <span class="tooltip_menu">Nueva Cotizacion</span>
      </li>
      <li>
       <a href="#">
         <i class='bx bx-user' ></i>
         <span class="links_name">Consulta de Polizas</span>
       </a>
       <span class="tooltip_menu">Consulta de Polizas</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-chat' ></i>
         <span class="links_name">REPUVE</span>
       </a>
       <span class="tooltip_menu">REPUVE</span>
     </li>
     <!-- <li>
        preguntas frecuentes se mueve a footer
       <a href="#">
         <i class='bx bx-pie-chart-alt-2' ></i>
         <span class="links_name">pREGUNTAS fRECUENTES</span>
       </a>
       <span class="tooltip_menu">pREGUNTAS fRECUENTES</span>
     </li> -->
     <!-- <li>
        Condiciones Generales Autos y Pick-ups de uso personal se mueve a footer
       <a href="#">
         <i class='bx bx-folder' ></i>
         <span class="links_name">Condiciones Generales Autos
            y Pick-ups de uso personal</span>
       </a>
       <span class="tooltip_menu">Condiciones Generales Autos
        y Pick-ups de uso personals</span>
     </li> -->
     <!-- <li>
       <a href="#">
        Aviso de privacidad se mueve a footer
         <i class='bx bx-cart-alt' ></i>
         <span class="links_name">Aviso de privacidad</span>
       </a>
       <span class="tooltip_menu">Aviso de privacidad</span>
     </li> -->
     
     <li class="profile">
         <div class="profile-details">
           <!--<img src="profile.jpg" alt="profileImg">-->
           <div class="name_job">
             <div class="name">Daniel Bautista</div>
             <div class="job">Ejecutivo Sistemas OPL</div>
           </div>
         </div>
         <i class='bx bx-log-out' id="log_out" ></i>
     </li>
    </ul>
  </div>