<h2>Modificar Datos del Asegurado</h2>
<form action="">
    <mat-tab-group [ngStyle]="{'overflow': 'hidden' }" mat-align-tabs="center">
        <mat-tab  label="Datos Persona Fisica">
            <div class="row mb-2">
                <div class="col-md-3">
                    <label for="aPat" class="form-label col-form-label-sm">Apellido Paterno</label>
                    <input type="text" class="form-control form-control-sm" id="aPat">
                </div>
                <div class="col-md-3">
                    <label for="aMat" class="form-label col-form-label-sm">Apellido Materno</label>
                    <input type="text" class="form-control form-control-sm" id="aMat">
                </div>
                <div class="col-md-6">
                    <label for="aPat" class="form-label col-form-label-sm">Nombre(s)</label>
                    <input type="text" class="form-control form-control-sm" id="aPat">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-3">
                    <label for="aPat" class="form-label col-form-label-sm">R.F.C.</label>
                    <input type="text" class="form-control form-control-sm" id="aPat">
                </div>
                <div class="col-md-3">
                    <label for="aMat" class="form-label col-form-label-sm">C.U.R.P.</label>
                    <input type="text" class="form-control form-control-sm" id="aMat">
                </div>
                <div class="col-md-3">
                    <label for="aPat" class="form-label col-form-label-sm">Teléfono</label>
                    <input type="text" class="form-control form-control-sm" id="aPat">
                </div>
                <div class="col-md-3">
                    <label for="aMat" class="form-label col-form-label-sm">Correo Electrónico</label>
                    <input type="text" class="form-control form-control-sm" id="aMat">
                </div>
            </div>
            <hr>
        </mat-tab>
        <mat-tab label="Articulo 492 Persona Fisica">Content 2</mat-tab>
    </mat-tab-group>
</form>
