<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-sm container-md container-lg container-xl container-xxl">
        <a class="navbar-brand" href="#">
            <img src="../../../../assets/images/qualitasq-colour.png" alt="" width="35" >
          </a>
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          
          <li class="nav-item">
            <a class="nav-link" href="#">QAdmin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Renovacion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Consultas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Operaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="cancelar">Cancelacion</a>
            <!-- <a class="nav-link" href="/pages/cancelForm.html">Cancelacion</a> -->
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="editar">Modificacion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Folios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Empleados</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>